@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.base{
    background: url("/static/media/bg.jpeg") no-repeat;
    background-size: cover;
    font-family: 'Mynerve', cursive;

}

body{
    position: relative;
}

.navbar{
    background: #317AC1;
}

h2{
    color: #384454 !important;
}

p{
    color: #384454;
}

.nav-link{
    color: #D4D3DC !important;
    font-size: 1vw !important;
}

.nav-link:hover{
    color: #384454 !important;
}

.logo{
    width: 10vw;
}

footer{
    margin-top: 5vh;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 1.1vw;
    height: 5vh;
    color: #5784BA !important;
    text-shadow: 1px 2px #F4CFDF !important;
    background: #D4D3DC;
}


.card {
    background: #D4D3DC !important;
    color: #384454 !important;
    border: 1px solid #AD956B !important;
}

.card-title{
    color: #E1A624 !important;
}

.card-text{
    color: #384454 !important;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.muted{
    color: #AD956B !important;
}


.btn{
    color: #E1A624 !important;
    background: #317AC1 !important;
}

.top-img{
    width: 70rem;
}

.o-img{
    width: 35rem;
    margin: 2vh auto;
}

.pic-of-me{
    width: 25rem;
}
