@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.base{
    background: url("/static/media/bg.jpeg") no-repeat;
    background-size: cover;
    font-family: 'Montserrat', cursive;

}

body{
    position: relative;
}

.navbar{
    background: #317AC1;
}

h2{
    color: #384454 !important;
}

p{
    color: #384454;
}

.nav-link{
    color: #D4D3DC !important;
    font-size: 1vw !important;
}

.nav-link:hover{
    color: #384454 !important;
}

.logo{
    width: 15vw;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 1.1vw;
    height: 5vh;
    color: #5784BA !important;
    text-shadow: 1px 2px #F4CFDF !important;
    background: #E1A624;
}

.card {
    background: #D4D3DC !important;
    color: #384454 !important;
    border: 1px solid #E1A624 !important;

}

.card-title{
    color: #E1A624 !important;
    text-shadow: 1px 2px #384454;
}

.card-text{
    color: #384454 !important;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.muted{
    color: #317AC1 !important;
}

.figure-caption{
    color: #317AC1 !important;
}


.btn{
    color: #E1A624 !important;
    background: #317AC1 !important;
    margin-top: 2vh;
}

.btn:hover{
    color: #317AC1 !important;
    background: #E1A624 !important;
    margin-top: 2vh;
}

.top-img, .img-thumbnail{
    width: 80rem;
}

.o-img{
    width: 35rem;
    margin: 2vh 2vw;
}

.pic-of-me{
    width: 25rem;
}

#hint_id_password1, #div_id_password2{
    display: none;
}

.card-form{
    width: 100%;
    margin: auto;
}

.comment-name{
    font-weight: bold;
}

h6{
    color: #384454 !important;
}

blockquote > p{
    color: #317AC1;
}

hr{
    color: #5784BA !important;
    font-weight: bolder;
}

.comments-link{
    color:#5784BA;
}

